
*.index
.metadata
.metadata/*
.cache
.cache/*
.gama*
.built_in*
*.png
headless/fc*
headless/output-headless
headless/.Rhistory
headless/.RData
FireandForest/models/instafire copy.gaml
*.csv
headless/test_outs/*
