
*.index
.metadata
.metadata/*
.cache
.cache/*
.gama*
.built_in*
*.png
headless/.Rhistory
headless/.RData
FireandForest/models/instafire copy.gaml
*.csv
headless/examples_external/*
*.xml
headless/*/console-outputs*
headless/*/simulation-outputs*
headless/headless_outputs/
headless/set-gamadir.bat
headless/*.RData
FireandForest/models/benchmarks/
*.Rdata
headless/images/*
