
*.index
.metadata
.metadata/*
.cache
.cache/*
.gama*
.built_in*
*.png
*.csv
*.xml
*.RData
FireandForest/models/benchmarks/
*.Rdata
images/*
headless_outputs/*
headless/set-gamadir.bat
examples_external/
